
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
html, body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  font-family: 'Inconsolata', sans-serif;
  line-height: 1.4;
  min-height: 100vh;
  color: #f0f0f0;
}

/* Tema Claro */
body.tema-claro {
  background-color: #f8f9fa;
  color: #212529;
}

/* Cabeçalho */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #111;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.portfolio {
  color: #f0f0f0;
  font-size: 24px;
  font-weight: 600;
}

.portfolio span {
  color: #fcba03;
}

.btn-menu, .btn-tema {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-menu:hover, .btn-tema:hover {
  background-color: #357abd;
}

/* Menu lateral */
.menu-lateral-conteudo {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: right 0.3s ease;
  z-index: 1000;
}

.menu-lateral-conteudo.menu-aberto {
  right: 0;
}

.menu-lateral-conteudo .close-menu {
  font-size: 36px;
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

.menu-lateral-conteudo a {
  padding: 8px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #fcba03;
  display: block;
  transition: 0.3s;
}

.menu-lateral-conteudo a:hover {
  background-color: rgba(252, 186, 3, 0.2);
}

.menu-lateral-conteudo ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral-conteudo ul li {
  padding: 8px 16px;
}

/* Assinatura e texto */
.signature-container {
  text-align: center;
  padding: 100px 20px 50px;
  background-color: #1a1a1a;
}

body.tema-claro .signature-container {
  background-color: #e1e7ec;
}

.signature {
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  color: #fcba03;
  margin: 0;
}

.developer-text {
  font-size: 27px;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 5px;
  color: #fcba03;
}

/* Animação de digitação */
.typing-animation {
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
  color: #fcba03;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fcba03;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fcba03;
  }
}

/* Seção Sobre */
section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 10%;
  background-color: #1a1a1a;
  gap: 20px;
}

section img {
  width: 30%;
  height: auto;
  flex: 1 1 100%;
  max-width: 300px;
  border-radius: 50%;
  animation: flutuar 3s infinite ease-in-out;
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

section div {
  flex: 2 1 100%;
}

section div h2 {
  color: wheat;
  font-size: 40px;
}

section div p {
  color: wheat;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* Seção Habilidades */
#habilidades {
  text-align: center;
  padding: 50px 20px;
  background: #1a1a1a;
}

body.tema-claro #habilidades {
  background-color: #e1e7ec;
}

#habilidades h2 {
  color: wheat;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  width: 100%;
}

body.tema-claro #habilidades h2 {
  color: #212529;
}

.habilidades-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste do layout */
  gap: 20px; /* Espaçamento entre os cards */
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.habilidades-categoria {
  background: #463364;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui o conteúdo uniformemente */
  min-height: 200px; /* Altura mínima para consistência */
}

body.tema-claro .habilidades-categoria {
  background: #e1e7ec;
  border: 1px solid #5b6269;
}

.habilidades-categoria h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #fcba03;
}

.habilidades-categoria ul {
  list-style-type: none;
  padding: 0;
  flex: 1; /* Faz com que a lista ocupe o espaço disponível */
}

.habilidades-categoria ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: wheat;
}

body.tema-claro .habilidades-categoria ul li {
  color: #212529;
}

.habilidades-categoria:hover {
  transform: scale(1.05);
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Seção Projetos */
.projetos {
  background-color: #1a1a1a;
  padding: 50px 0;
  width: 100%;
  padding-bottom: 100px;
}

.projetos h2 {
  color: wheat;
  font-size: 2.5rem;
  margin: 20px auto;
  line-height: 1.2;
  text-align: center;
}

body.tema-claro .projetos h2 {
  color: #212529;
}

/* Container dos cards */
.card-projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo para os cards */
.card {
  background-color: #333;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px; /* Aumentar o padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%; /* Largura total do card */
  max-width: 350px; /* Aumentar a largura máxima do card */
  margin: 0 auto; /* Centraliza o card */
}

body.tema-claro .card {
  background-color: #e1e7ec;
  border-color: #dee2e6;
}

/* Estilo para as imagens dos cards */
.card img {
  width: 100px; /* Tamanho fixo para as imagens */
  height: 100px; /* Tamanho fixo para as imagens */
  object-fit: contain; /* Garante que a imagem seja exibida corretamente */
  border-radius: 10px;
  margin-bottom: 15px; /* Espaçamento abaixo da imagem */
}

/* Estilo para o título do card */
.card h5 {
  color: wheat;
  font-size: 18px; /* Aumentar o tamanho da fonte */
  text-align: center;
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

body.tema-claro .card h5 {
  color: #212529;
}

/* Estilo para o texto do card */
.card p {
  color: wheat;
  font-size: 14px; /* Manter o tamanho da fonte */
  text-align: center;
  margin-bottom: 15px; /* Espaçamento abaixo do texto */
  overflow: visible; /* Garantir que o texto não seja cortado */
  white-space: normal; /* Permitir quebra de linha */
}

body.tema-claro .card p {
  color: #212529;
}

/* Estilo para o link do card */
.card a {
  background-color: #4a90e2;
  color: #fff;
  padding: 10px 20px; /* Aumentar o padding */
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  font-size: 14px; /* Manter o tamanho da fonte */
}

.card a:hover {
  background-color: #357abd;
}

/* Responsividade */
@media (max-width: 768px) {
  .card-projetos {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Rodapé */
footer {
  text-align: center;
  padding: 120px 340px;
  background: #111;
  color: white;
  font-family: 'Inconsolata', monospace;
}

body.tema-claro footer {
  background-color: #6c757d;
}

footer h5 {
  color: wheat;
  font-size: 24px;
  margin-bottom: 10px;
}

body.tema-claro footer h5 {
  color: #fff;
}

footer p {
  color: wheat;
  font-size: 16px;
  margin-bottom: 20px;
}

body.tema-claro footer p {
  color: #fff;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.social a {
  background-color: #252625;
  display: flex;
  border-radius: 50%;
  align-items: center;
  height: 50px;
  width: 50px;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.social a:hover {
  transform: scale(1.2);
}

/* Estilo para o link do currículo */
footer .curriculo-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

footer .curriculo-link:hover {
  background-color: #357abd;
}

/* Responsividade */
@media (max-width: 768px) {
  .signature {
    font-size: 40px;
  }

  .developer-text {
    font-size: 20px;
  }

  .section {
    flex-direction: column;
    text-align: center;
  }

  section img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .botoes-container {
    flex-direction: column;
    gap: 10px;
  }

  .botao {
    width: 100%;
  }
}
/* Telas pequenas (celulares) */
@media (max-width: 576px) {
  /* Ajustes para celulares */
}

/* Telas médias (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Ajustes para tablets */
}

/* Telas grandes (desktops pequenos) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Ajustes para desktops pequenos */
}

/* Telas extra grandes (desktops grandes) */
@media (min-width: 993px) {
  /* Ajustes para desktops grandes */
}
